syntax = "proto3";

package mtch.{{ .ServiceName }}service;
option go_package = "{{ .RootModulePath }}/pkg/{{ .ServiceName }}service/{{ .ServiceName }}servicepb/v1;{{ .ServiceName }}servicepb";

service {{ .ServiceName }}Service {
  rpc NoopMethod(NoopRequest) returns (NoopResponse);
}

message NoopRequest {
  string noopString = 1;
}

message NoopResponse {
  string noopString = 1;
}