package {{ .ServiceName }}

import (
	"context"
	"log"

	"{{ .RootModulePath }}/pkg/{{ .ServiceName }}service/{{ .ServiceName }}servicepb/v1"
	domain "{{ .RootModulePath }}/{{ .ServiceName }}/internal/domain/{{ .ServiceName }}"
)

func (s *{{ .ServiceName }}ServiceServer) NoopMethod(ctx context.Context, req *{{ .ServiceName }}servicepb.NoopRequest) (*{{ .ServiceName }}servicepb.NoopResponse, error) {
	log.Println("NoopMethod called:", req.NoopString)

	ns := &domain.NoopStruct{
		NoopString: req.NoopString,
	}

	in := &domain.NoopInput{NoopStruct: ns}

	noop, err := s.{{ .ServiceName }}UC.NoopMethod(ctx, in)
	if err != nil {
		return &{{ .ServiceName }}servicepb.NoopResponse{}, err
	}
	resp := &{{ .ServiceName }}servicepb.NoopResponse{NoopString: noop.NoopString}

	return resp, nil
}