package {{ .ServiceName }}

import (
	"context"

    "github.com/go-kit/log/level"

	domain "{{ .RootModulePath }}/{{ .ServiceName }}/internal/domain/{{ .ServiceName }}"
	"{{ .RootModulePath }}/pkg/{{ .ServiceName }}service/{{ .ServiceName }}servicepb/v1"
)

func (s *{{ .ServiceName }}ServiceServer) NoopMethod(ctx context.Context, req *{{ .ServiceName }}servicepb.NoopRequest) (*{{ .ServiceName }}servicepb.NoopResponse, error) {
	level.Info(s.logger).Log("msg", "NoopMethod called:", "NoopString", req.NoopString)

	ns := &domain.NoopStruct{
		NoopString: req.NoopString,
	}

	in := &domain.NoopInput{NoopStruct: ns}

	noop, err := s.{{ .ServiceName }}UC.NoopMethod(ctx, in)
	if err != nil {
		return &{{ .ServiceName }}servicepb.NoopResponse{}, err
	}
	resp := &{{ .ServiceName }}servicepb.NoopResponse{NoopString: noop.NoopString}

	return resp, nil
}