package {{ .ServiceName }}

import (
    "github.com/go-kit/log"

	usecase "{{ .RootModulePath }}/{{ .ServiceName}}/internal/usecase/{{ .ServiceName}}"
	"{{ .RootModulePath }}/pkg/{{ .ServiceName}}service/{{ .ServiceName }}servicepb/v1"
)

type {{ .ServiceName }}ServiceServer struct {
	{{ .ServiceName }}servicepb.Unimplemented{{ capitalize .ServiceName }}ServiceServer

    {{ .ServiceName }}UC usecase.{{ capitalize .ServiceName }}UseCase
    logger log.Logger
}

func New{{ capitalize .ServiceName }}ServiceServer({{ .ServiceName }}UC usecase.{{ capitalize .ServiceName }}UseCase, logger log.Logger) *{{ .ServiceName }}ServiceServer {
	return &{{ .ServiceName }}ServiceServer{{"{"}} {{ .ServiceName }}UC: {{ .ServiceName }}UC, logger: logger {{"}"}}
}
