meta:
  TEMPLATE: true

{{ .ServiceName }}_server:
  GRPC_ADDR: "{{ .ServiceName }}:50051"
  GRACE_PERIOD: "3s"

http:
  METRICS_LISTEN_ADDR: ":CHANGE_ME"

logging:
  LEVEL: "info"
  FORMAT: "json"
  DEBUG_NAME: ""

flagd:
  flags_path: "./flags.flagd.json"