package {{ .ServiceName }}

import (
	"context"

    "github.com/go-kit/log"
    "github.com/go-kit/log/level"

    "github.com/Arclight-V/mtch/pkg/feature_list"

	domain "{{ .RootModulePath }}/{{ .ServiceName }}/internal/domain/{{ .ServiceName }}"
)

type {{ .ServiceName }}UseCase struct {
    logger log.Logger
    featureList *feature_list.FeatureList
}

func New{{capitalize .ServiceName }}UseCase(logger log.Logger, featureList *feature_list.FeatureList) *{{ .ServiceName }}UseCase {
	return &{{ .ServiceName }}UseCase{logger: logger, featureList: featureList}
}

func (u *{{ .ServiceName }}UseCase) NoopMethod(ctx context.Context, in *domain.NoopInput) (*domain.NoopOutput, error) {
    level.Info(u.logger).Log("msg", "NoopMethod called:", "NoopString", in.NoopStruct.NoopString)

	return &domain.NoopOutput{NoopString: "NoopString" }, nil
}